.shimmer-effect{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to right, #cbc0c0, white)
}

.shimmer-effect#product-image{
    height: 200px;
}

.shimmer-effect#product-name{
    height: 2.5em;
    margin-bottom: 10px;
}

.shimmer-effect#product-rating{
    height: 20px;
}

.shimmer-effect#product-price{
    height: 30px;
    margin-top: 10px;
}

.shimmer-effect::before{
    content: '';
    width: 0.01px;
    height: 140%;
    background-color: #c4c2c2;
    animation-name: effect;
    animation-duration: 1s;
    position: absolute;
    animation-iteration-count: infinite; 
    top: -15px;
    transform: rotate(-20deg);
    box-shadow: 5px 5px 25px 25px rgba(119, 117, 117, 0.4);
}

@keyframes effect {
    from {left: 0%}
    to {left:100%}
}